/* BASIC STYLES HERE */

label {
  display: block;
  margin-top: .2em;
}

input {
  width: 100%;
}

textarea {
  width: 50%;
}

p {
  margin-bottom: 0;
}

.house-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.checkbox {
  width: auto;
}

.color {
  width: 10vw;

}

.car-img {
  height: 40vh;
  width: 30%;
  object-fit: cover;
}

.car-border {
  border-style: solid;
  border-width: 5px;
}

.delete-button {
  width: max-content;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  font-size: larger;
}


.width-auto {
  width: auto;
}